
{% load static %}
{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            window.onload = function() {
                Swal.fire({
                    title: '{{ message }}',
                    icon: 'error',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'OK'
                });
            };
        </script>
    {% endfor %}
{% endif %}
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<link rel="stylesheet" href="{% static 'styles/estilo.css' %}">

<body class="fondo">
    
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="icono"  >
                    <img src="{% static 'imagenes/computadora.png' %}"/>
                </div>
                <h5 class="card-title text-center" style="color: red;">{{ error }}</h5>
                <div class="titulo">
                    CompuSpace
                </div>
                <form id="loginform" method="POST">
                    {% csrf_token %}
                    <div>
                            <input type="text" name="username" placeholder="Usuario" required>
                        
                        <input type="password" placeholder="Contraseña" name="password" required>
                        
                        <button type="submit" title="Ingresar" name="Ingresar">INICIAR SESION</button>
                    </div>
                </form>
                
            </div>
            
        </div>
    </div>

</body>