*{
    margin: 0;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    background-color: #314755;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.sesion span{
    font-size: 20px;
    padding: 8px;
}
.sesion{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
span{
    padding-left: 60px;
    color: white;
    font-size: 28px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}
li:hover{
    background-color: #dad5b7;
    width: 135px;
}
.sesion a{
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
i{
    color: white;
    font-size: 47px;
}

*{
    margin: 0;
    padding: 0px;
}


.sesion span{
    font-size: 20px;
    padding: 5px;
}
.sesion{
    display: flex;
    align-items: center;
    padding-right: 10px;
}


span{
    padding-left: 60px;
    color: white;
    font-size: 28px;
}
nav{
    background-color: #314755;
    width: 10%;
    height: 105%;
}

.contenedor1{
    display: flex;
    justify-content: space-between;
    height: 87vh;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
}
i{
    color: white;
    font-size: 47px;
}
/* imagenes ******************************* */
*{
	margin:0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
.contenido{
	width: 100%;
    margin-left: 0px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
}
.section{
    width: 60%;
}


.contenedor-foto {
    margin: 15px;
}

.contenedor-foto:hover{
    background-color: #e6e6e6 ;
}

/*carrusel de imagenes*/
.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 170px;
  }
  
  .contenedor-imagenes-secundarias {
    display: flex;
    justify-content: center;
  }
  
  .imagen-secundaria {
    width: 200px;
    height: 150px;
    margin: 0 10px;
    cursor: pointer;
    max-width: 100%;
  }
  
  #imagen-principal {
    width: 600px;
    height: 350px;
    margin-bottom: 10px;
  }
  .contenedor_botones{
    display: flex;
    justify-content: space-between;
  }

h2{
    stroke: #000000 solid;
    text-align: center;
    font-weight: bold;
}

.tabla{
    border-collapse: separate;
    border-spacing: 20px;
    text-align: center;
}
.th{
    background-color: #DADABD;
    font-size: 16px;
    height: 48px;
    border-radius: 20px;
    font-weight: bold;
}
.td{
    background-color: #D9D9D9;
    height: 48px;
    border-radius: 20px;
    text-align: center;
}
.modelo{
    width: 201px;
}
.marca{
    width: 166px;
}
.nombre{
    width: 255px;   
}
.ci{
    width: 170px;
}
.precio{
   width: 140px; 
}
.numVenta{
    width: 137px;
}
.cant{
    width: 100px;
}
.precioU{
    width: 150px;
}
.precioT{
    width: 150px;
}
.fecha{
    width: 150px;  
}



  