{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<section class="contenido aliniado" >
    
    <div class="well tab-content" style="justify-content: center;">
        <div class="tab-pane active" id="post-object-form">
            <h1></h1>
            
                <h1 style="text-align: left; color: #314755 ; font-size: 70px; font-family: Helvetica ;">
                    BIENVENIDO</h1>
    
                 
        </div>
            <div class="photo">
            <img src="{% static '/imagenes/home/inicio.png' %}" alt="fondo" style="width:325%;">
            </div>
    </div>
    
</section>

{% endblock %}
