{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles/busqueda.css' %}">
  
  
  <div class="busqueda">
    
    
    <div class="row">
      
      <div class="col-md-12 search">
        
        <form method="get">
          
          <div id="custom-search-input">
            
            <div class="input-group col-md-12">
              
              <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value = "{{request.GET.buscar}}">
              
              <span class="input-group-list">
                <i class="icon icon-search"></i>
                
              </span>
              <div class="posboton">
                <button class="botonbuscar" >Buscar</button>
            </div>
          </div>
        </form>
      </div>
      
    </div>

    
    </div>
    
  </div> 
  
  
  
  <head>  
    
  </head> 
  
{% if messages %}
    {% for message in messages %}
        <script>

          console.log('verificar el mensaej')
            Swal.fire({

                title: "Se añadió correctamente la Laptop",
                icon: "success",
                timer: 3000,
                timerProgressBar: true,
                showConfirmButton: false,
            });
        </script>
    {% endfor %}
{% endif %}


{% block js %}
<script>
  function cancelarRegistro(){
    Swal.fire({
      title: "Está seguro(a) que desea cancelar el registro",
      icon: "question",
      showCancelButton: true,
      cancelButtonText: "No",
      confirmButtonText: "Si"
    })
    .then(function(result) {
      if(result.isConfirmed){
        document.getElementById("formularioRegistro").reset();
        var invalidFields = document.querySelectorAll(".is-invalid");
        invalidFields.forEach(function(field) {
          field.classList.remove("is-invalid");
        });
        $('#mymodal').modal('hide');
        document.querySelector('.modal-backdrop').remove();
        document.getElementById("myModal").style.display = 'none';
        var myButton = document.getElementById("myButton");
        myButton.click();
      }
    })
  }
  function borrarMensajesError(){
    var invalidFields = document.querySelectorAll(".is-invalid");
        invalidFields.forEach(function(field) {
          field.classList.remove("is-invalid");
    });
      var myButton = document.getElementById("botonGuardar");
      myButton.click();
  }
</script>
{% endblock %}

<div class="ciclo">
  <section class="contenido aliniado">
    {% for laptop, ruta in laptops_rutas %}
    <div class="contenedor-foto">
      <a style="color: black; text-decoration: none;" href="{% url 'informacionLaptop' laptop.id %}" class="descripcion">{{ laptop.nombre }}</a>
      <a href="{% url 'informacionLaptop' laptop.id %}">
          <img src="{{ ruta }}" width="200px" height="200px" alt="" />
      </a>
      <div style="background-color: #DaD5B7;" >
          <h6 class="descripcion" style="font-size: 18px;width: 100%;">Marca:{{ laptop.marca }}</h6>
          <h6 class="descripcion" style="font-size: 18px;width: 100%;">Modelo: {{ laptop.modelo }}</h6>
          <h6 class="precio" style="font-size: 18px;width: 100%;">Precio: {{ laptop.precio }} bs</h6>
          <h6 class="precio" style="font-size: 18px;width: 100%;"> Stock: {{ laptop.stock }}</h6>
      </div>
      <div class="contenedor_botones" >
      <button style="background-color: #314755;"><a style="color: white;" href="{% url 'modificarLaptop' laptop.id %}" >Editar 
      </a></button>

      <button style="background-color: #56FE53;"><a style="color: white;" href="{% url 'venderLaptop' laptop.id %}" >Vender 
      </a></button>

      </div>
      

    </div>
    {% endfor %} 
    {% if request.user.is_superuser %}
      <div class="boton_float">
        <a href="#" id="myButton" data-toggle="modal" data-target="#myModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0 0 16 16" style="color:#314755 ; position: fixed; top:90%; left: 95%;">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </a>
      </div>
    {% endif %}


</section>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">


    
    <div class="modal-content" style="width: 100%;margin-top: 10%;">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Datos de nuevo equipo</h4>
        
      </div>
      <div class="modal-body" style="width: 1100px;">
        <div class="tab-pane active" id="post-object-form">
          <form
            method="POST"
            action="{% url 'laptops' %}"
            enctype="multipart/form-data"
            id="formularioRegistro"
          >
            {% csrf_token %}
            <div class="row" style=" margin: 10px;">
              <div class="col-sm-6">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" title="Campo obligatorio">
                      Modelo <label style="color: red;">*</label>
                    </label>
                    <div class="col-sm-9">
                      <input
                        name="modelo"
                        title="Por favor ingrese un modelo"
                        class="form-control"
                        type="text"
                        pattern="[a-zA-Z0-9\-\/\(\)_\.,]+(\s[a-zA-Z0-9\-\/\(\)_\.,]+)*"
                        value=""
                        required
                        maxlength="20"
                        minlength="5"
                        oninvalid="this.classList.add('is-invalid')"
                      />
                      <div class="invalid-feedback">
                        Ingrese un modelo válido.
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <label class="col-sm-3 control-label" title="Campo obligatorio"
                      >Marca <label style="color: red;">*</label></label
                    >
                    <div class="col-sm-9">
                      <input
                        name="marca"
                        title="Por favor ingrese una marca"
                        class="form-control"
                        type="text"
                        pattern="[a-zA-Z0-9]+([ ][a-zA-Z0-9]+)*"
                        value=""
                        required
                        maxlength="20"
                        minlength="2"
                        oninvalid="this.classList.add('is-invalid')"
                      />
                      <div class="invalid-feedback">
                       Ingrese un marca válida.
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <label class="col-sm-3 control-label" title="Campo obligatorio">
                      Nombre <label style="color: red;">*</label>
                    </label>
      
                    <div class="col-sm-9">
                      <input
                        name="nombre"
                        title="Por favor ingrese un nombre"
                        class="form-control"
                        type="text"
                        pattern="[a-zA-Z0-9]+( [a-zA-Z0-9]+)*"
                        value=""
                        required
                        maxlength="20"
                        minlength="8"
                        oninvalid="this.classList.add('is-invalid')"
                      />
                      <div class="invalid-feedback">
                        Ingrese un nombre válido.
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <label class="col-sm-3 control-label" title="Campo obligatorio">
                      Stock <label style="color: red;">*</label>
                    </label>
      
                    <div class="col-sm-9">
                      <input
                        name="stock"
                        title="Por favor ingrese la cantidad de laptops"
                        class="form-control"
                        type="number"
                        required
                        value=""
                        max="1000"
                        min="1"
                        oninvalid="this.classList.add('is-invalid')"
                      />
                      <div class="invalid-feedback">
                        Introduzca un valor de unidad que sea mayor a 0 y menor a 1000.
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <label class="col-sm-3 control-label" title="Campo obligatorio">
                      Precio <label style="color: red;">*</label>
                    </label>
      
                    <div class="col-sm-9">
                      <input
                        name="precio"
                        title="Por favor ingrese el precio de la laptop"
                        class="form-control"
                        type="number"
                        value=""
                        required
                        max="30000"
                        min="350"
                        oninvalid="this.classList.add('is-invalid')"
                      />
                      <div class="invalid-feedback">
                        Introduzca un valor de unidad que sea mayor a 350 y menor a 30000.
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <label class="col-sm-3 control-label"> Pantalla <label style="color: red;">*</label></label>
      
                    <div class="col-sm-9">
                      <select class="form-control" name="pantalla" required>
                        <option value="13pulg">13 pulgadas</option>
      
                        <option value="14pulg">14 pulgadas</option>
      
                        <option value="15.6pulg">15.6 pulgadas</option>
      
                        <option value="17pulg">17 pulgadas</option>
                      </select>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <label class="col-sm-3 control-label" title="Campo obligatorio">
                      Teclado <label style="color: red;">*</label>
                    </label>
      
                    <div class="col-sm-9">
                      <input
                        name="teclado"
                        title="Por favor ingrese el lenguaje del teclado de la laptop"
                        class="form-control"
                        type="text"
                        pattern="[a-zA-Z0-9\-\/\(\)_\.,ñÑ]+( [a-zA-Z0-9\-\/\(\)_\.,ñÑ]+)*"
                        value=""
                        required
                        maxlength="10"
                        minlength="4"
                        oninvalid="this.classList.add('is-invalid')"
                      />
                      <div class="invalid-feedback">
                        “Introduzca un idioma de teclado válido.
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <label class="col-sm-3 control-label" title="Campo obligatorio">
                      Procesador <label style="color: red;">*</label>
                    </label>
      
                    <div class="col-sm-9">
                      <input
                        name="procesador"
                        title="Por favor ingrese el procesador de la laptop"
                        class="form-control"
                        type="text"
                        pattern="[a-zA-Z0-9\-\/\(\)_\s]([a-zA-Z0-9\-\/\(\)_\s]*[a-zA-Z0-9\-\/\(\)_\s])?"
                        value=""
                        required
                        maxlength="25"
                        minlength="5"
                        oninvalid="this.classList.add('is-invalid')"
                      />
                      <div class="invalid-feedback">
                        Introduzca un procesador válido.
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <label class="col-sm-3 control-label" title="Campo obligatorio">
                      Ram <label style="color: red;">*</label>
                    </label> 
      
                    <div class="col-sm-9">
                      <select class="form-control" name="ram" required>
                        <option value="2">2gb</option>
      
                        <option value="2exp">2gb(exp)</option>
      
                        <option value="4">4gb</option>
      
                        <option value="4exp">4gb(exp)</option>
      
                        <option value="8">8gb</option>
      
                        <option value="8exp">8gb(exp)</option>
      
                        <option value="16">16gb</option>
      
                        <option value="16exp">16gb(exp)</option>
      
                        <option value="32">32gb</option>
      
                        <option value="32xp">32gb(exp)</option>
                      </select>
                    </div>
                  </div>
      
                  
              </fieldset>
              </div >
    
              <div class="col-sm-6">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-3 control-label" title="Campo obligatorio">
                        Color <label style="color: red;">*</label>
                      </label>
        
                      <div class="col-sm-9">
                        <input
                          name="color"
                          title="Por favor ingrese el color de la laptop"
                          class="form-control"
                          type="text"
                          pattern="[a-zA-Z0-9]+([ ][a-zA-Z0-9]+)*"
                          value=""
                          required
                          maxlength="15"
                          minlength="3"
                          oninvalid="this.classList.add('is-invalid')"
                        />
                        <div class="invalid-feedback">
                          Ingrese un color válido.
                        </div>
                      </div>
                    </div>
        
                    <div class="form-group">
                      <label class="col-sm-3 control-label" title="Campo obligatorio">
                        M2 <label style="color: red;">*</label>
                      </label>
        
                      <div class="col-sm-9">
                        <select class="form-control" name="m2" required>
                          <option value="256gb">256 gb</option>
        
                          <option value="512gb">512 gb</option>
        
                          <option value="1tb">1 tb</option>
        
                          <option value="2tb">2 tb</option>
                        </select>
                      </div>
                    </div>
        
                    <div class="form-group">
                      <label class="col-sm-3 control-label" title="Campo obligatorio">
                        Hdd <label style="color: red;">*</label>
                      </label>
        
                      <div class="col-sm-9">
                        <select class="form-control" name="hdd" required>
                          <option value="sinhdd">sin HDD</option>
        
                          <option value="256hdd">256 gb</option>
        
                          <option value="512hdd">512 gb</option>
        
                          <option value="1hdd">1 tb</option>
        
                          <option value="2hdd">2 tb</option>
                        </select>
                      </div>
                    </div>
        
                    <div class="form-group">
                      <label class="col-sm-3 control-label" title="Campo obligatorio">
                        Gráfica <label style="color: red;">*</label>
                      </label>
        
                      <div class="col-sm-9">
                        <input
                          name="grafica"
                          title="Por favor ingrese la grafica de la laptop"
                          class="form-control"
                          type="text"
                          pattern="[a-zA-Z0-9]+(?:[\s\-\/\(\)_][a-zA-Z0-9]+)*"
                          value=""
                          required
                          maxlength="25"
                          minlength="5"
                          oninvalid="this.classList.add('is-invalid')"
                        />
                        <div class="invalid-feedback">
                          Introduzca una tarjeta gráfica válida.
                        </div>
                      </div>
                    </div>
        
                    <div class="form-group">
                      <label class="col-sm-3 control-label" title="Campo obligatorio">
                        Descripción <label style="color: red;">*</label>
                      </label>
        
                      <div class="col-sm-9">
                        <input
                          name="descripcion"
                          title="Por favor ingrese la descripcion de la laptop"
                          class="form-control"
                          style="height: 100px;"
                          type="text"
                          pattern="[a-zA-Z0-9\s\-\/\(\)_\.,]+"
                          value=""
                          required
                          maxlength="1000"
                          minlength="30"
                          oninvalid="this.classList.add('is-invalid')"
                        />
                        <div class="invalid-feedback">
                          Introduzca una descripción válida.
                        </div>
                      </div>
                    </div>
        
                    <div class="form-group">
                      <label class="col-sm-3 control-label" title="Campo obligatorio">
                        Imagenes <label style="color: red;">*</label>
                      </label>
        
                      <div class="col-sm-9" style="display: grid">
                        <input
                          name="imagen_1"
                          type="file"
                          accept=".jpg,.png"
                          oninvalid="this.classList.add('is-invalid')"
                        />
                        <input
                          name="imagen_2"
                          type="file"
                          accept=".jpg,.png"                         
                          oninvalid="this.classList.add('is-invalid')"
                        />
                        <input
                          name="imagen_3"
                          type="file"
                          accept=".jpg,.png"
                          oninvalid="this.classList.add('is-invalid')"
                        />
                        <input
                          name="imagen_4"
                          type="file"
                          accept=".jpg,.png"
                          oninvalid="this.classList.add('is-invalid')"
                        />
                        <div class="invalid-feedback">
                          Por Favor suba 4 imágenes de la laptop.
                        </div>
                      </div>
                    </div>
        
      <div class="modal-footer">
                    
                      <div class="form-actions">
                      <button
                        class="btn btn-default"
                        title=""
                        style="background-color: #243757;color: white;"
                        type="button"
                        onclick="cancelarRegistro()"
                      >
                        CANCELAR
                      </button>
                      <button
                        class="btn btn-primary js-tooltip"
                        title=""
                        id="botonGuardar"
                        style="background-color: #243757;"
                        onclick="borrarMensajesError()"

                      >
                        GUARDAR
                      </button>
                    </div>
      </div>
                    
                  </fieldset>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


      {% endblock %}
 

